$px : 'yb';

$color-black : #000;
$color-white : #fff;
$color-red : #E03131;
$color-blue : #ED3434;
$color-primary : #E03131;
$color-inverse : #FF5252;
$global-primary-background: #E03131;
$global-font-family: 'Poppins', sans-serif;
$global-color: $color-black ;
$global-emphasis-color : $color-black;
$inverse-global-border: rgba($color-white, 0.08);
$navbar-nav-item-active-color: $color-primary;
$navbar-nav-item-color: $color-black;
$navbar-nav-item-hover-color: $color-primary;
$navbar-nav-item-onclick-color: $color-primary;
$bg-page-loader : $color-white;
$inverse-global-primary-background : $color-primary;
$inverse-global-inverse-color : $color-white;
 

 